html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Segoe UI", Arial, sans-serif;
  }
  
  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  
  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  
  .banner {
    height: 100%;
    background-color: #1da1f2;
  }
  
  .title {
    color: #1da1f2;
    font-size: 27px;
    line-height: 32px;
  }
  
  .subtitle {
    color: #14171a;
    font-size: 18px;
    line-height: 24px;
    margin: 16px auto;
  }
  
  .form-control {
    background-color: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
  }
  
  .comunicacao {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .communicationItem {
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: 48px auto;
    position: relative;
  }
  
  .imagempng {
    max-width: 100%;
    height: auto;
  }
  
  .box {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .centro {
    text-align: center;
  }
  
  .qrwpp {
    height: 150px;
    width: 150px;
  }
  
  .link {
    text-decoration: none;
    color: #1da1f2;
  }
  
  .link:hover {
    text-decoration: none;
    color: #073a5a;
  }
  
  .imagempngTabela {
    height: 200px;
    width: 180px;
  }
  
  .boxTable {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .boxTablecard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 150px;
    width: 80%;
  }
  
  .boxTablecard .img {
    z-index: 1;
    position: relative;
  }
  
  .fotoassociado {
    z-index: 2;
    position: absolute;
    top: 313px;
    left: 585px;
    width: 88px;
    height: 105px;
  }
  
  .textoimagem {
    z-index: 2;
    position: absolute;
    top: 312px;
    left: 750px;
    font-size: large;
    font-weight: bolder;
  }
  
  .textoimagemcpf {
    z-index: 2;
    position: absolute;
    top: 340px;
    left: 750px;
    font-size: medium;
    font-weight: bolder;
  }
  
  .expiracao {
    z-index: 2;
    position: absolute;
    top: 396px;
    left: 820px;
    font-size: medium;
    font-weight: bolder;
  }
  
  td, th {
    padding-top: 10px;
    border-bottom: 1px solid black;
  }
  
  #table {
    width: 90%;
  }
  
  .dadTable {
    margin: 15px 0 0 100px;
  }
  
  .uploadimg {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    margin-left: 20px;
  }
  
  .pdf {
    margin-left: 25px;
  }
  .pdf button {
    cursor: pointer;
    margin-left: 100px;
  }
  
  .uploadfoto button {
    cursor: pointer;
    margin-left: 45px;
  }
  
  @media screen and (max-width: 500px) {
    .box {
      max-width: 100%;
      padding: 10px;
    }
    
    .boxTable {
      flex-direction: column;
      margin: 0 auto;
      padding: 10px;
    }
    
    .boxTablecard {
      margin: 20px auto;
      margin-left: 0;
      width: 95%;
      flex-direction: column;
      align-items: center;
      position: relative;
    }
    
    .boxTablecard .img {
      position: relative;
      z-index: 1;
      width: 100%;
      max-width: 300px;
    }
    
    /* Ajusta posicionamento e tamanho da foto e textos */
    .fotoassociado {
      position: relative;
      top: -147px;
      left: -90px;
      width: 62px;
      height: 70px;
      margin: 10px auto;
    }
    
    .textoimagem {
      position: relative;
      top: -233px;
      left: 25px;
      font-size: 11px;
      margin-top: 5px;
    }
    
    .textoimagemcpf {
      position: relative;
      top: -236px;
      left: 22px;
      font-size: 11px;
      margin-top: 5px;
    }
    
    .expiracao {
      position: relative;
      top: -218px;
      left: 50;
      font-size: 10px;
      margin-top: 5px;
    }
    
    /* Ajusta tabela */
    #table {
      width: 100%;
    }
    
    .dadTable {
      margin: 15px 0 0 10px;
    }
    
    /* Ajusta área de upload e PDF */
    .uploadimg {
      flex-direction: column;
      margin: -50px auto;
      align-items: center;
    }
    
    .uploadimg .uploadfoto,
    .uploadimg .pdf {
      margin: 10px 0;
      width: 90%;
      text-align: center;
    }
    
    .pdf button, .uploadfoto button {
      margin-left: 0;
    }

    .contatocentro{
        display: flex;
        align-items: center;
    }
  }
  